/* -----COLORS----- */
/* -----ICONS----- */
.hidden {
  display: none; }

.branding {
  position: fixed;
  height: 100%;
  top: 0;
  z-index: 1; }

/* -----BUTTONS----- */
.button {
  text-align: center;
  line-height: 24px;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  cursor: pointer; }
  .button:hover {
    color: #fff; }
  .button:active {
    color: #fff; }

.large-btn {
  max-width: 300px;
  width: 100%;
  padding: 16px 0;
  font-size: 20px; }

.medium-btn {
  min-width: 216px;
  padding: 11px 0;
  font-size: 16px; }

.small-btn {
  min-width: 136px;
  padding: 6px 0;
  font-size: 14px; }

.advertising {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2; }

.advertising--right {
  margin-left: 30px;
  max-height: 400px;
  height: 400px; }

.advertising--bottom {
  margin-bottom: 15px;
  height: 150px;
  max-height: 150px; }

.section {
  width: 100%;
  max-width: 300px;
  margin-right: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
  background-color: #fff; }

.section:nth-child(even) {
  margin-right: 0; }

.section--small {
  max-height: 199px;
  height: 100%; }

.section__wrap {
  padding: 25px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-color: #eeeeee; }

.section__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  background-color: #eeeeee; }

.section__button {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 16px; }

.lightgray-btn {
  color: #3b3b3b;
  border-color: rgba(0, 0, 0, 0.2); }
  .lightgray-btn:hover {
    background-color: #3b3b3b; }
  .lightgray-btn:active {
    border-color: #1e1e1e;
    background-color: #1e1e1e; }

.gray-btn {
  color: #3b3b3b;
  border-color: #3b3b3b; }
  .gray-btn:hover {
    background-color: #3b3b3b; }
  .gray-btn:active {
    border-color: #1e1e1e;
    background-color: #1e1e1e; }

.green-btn {
  color: #7fb92f;
  border-color: #7fb92f; }
  .green-btn:hover {
    border-color: #c3dba2;
    background-color: #c3dba2; }
  .green-btn:active {
    border-color: #7fb92f;
    background-color: #7fb92f; }

/* -----FORM-ELEMENTS----- */
.primary-input {
  padding: 10px 12px;
  font-size: 16px;
  line-height: 20px;
  color: #666666;
  border: 1px solid #d6d6d6; }
  .primary-input:focus {
    -webkit-box-shadow: inset 0 1px 0 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 0 2px rgba(0, 0, 0, 0.05); }

.search-field {
  padding-left: 51px;
  background-image: url("../img/icons/search-icon.png");
  background-repeat: no-repeat;
  -webkit-background-size: 26px 15px;
          background-size: 26px 15px;
  background-position: 13px 12px; }

.green-input {
  border-color: #a4bb54;
  background-color: #f6f8ee; }

.red-input {
  border-color: #bb5465;
  background-color: #f8eeef; }

.select {
  background-image: url("../img/icons/select-arrows.png");
  background-repeat: no-repeat;
  background-position: top 14px right 16px; }

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 22px;
  color: #666666; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

li {
  padding: 0;
  margin: 0; }

p {
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #444444;
  font-weight: 400; }

h1 {
  font-size: 48px;
  line-height: 50px; }

h2 {
  font-size: 32px;
  line-height: 50px; }

h3 {
  font-size: 26px;
  line-height: 46px; }

h4 {
  font-size: 20px;
  line-height: 40px; }

h5 {
  font-size: 18px;
  line-height: 34px; }

h6 {
  font-size: 16px;
  line-height: 30px; }

a {
  color: #1e1e1e;
  text-decoration: none; }
  a:hover {
    color: #666666; }
  a:active {
    color: #f24841; }

button {
  background: none;
  cursor: pointer; }

input,
textarea,
select,
button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none; }
  input:focus,
  textarea:focus,
  select:focus,
  button:focus {
    outline: none; }

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

/*----BOOTSTRAP-STYLES----*/
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-left: 0;
  padding-right: 0; }

/* ---- INTRO ----  */
.intro {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/intro/intro-bg.jpg");
  -webkit-box-shadow: inset 0 1000px 1000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1000px 1000px rgba(0, 0, 0, 0.5); }

.intro__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 95px;
  margin-bottom: 106px;
  font-size: 20px;
  color: #fff; }
  .intro__logo img {
    margin-right: 20px; }

.intro__title {
  margin: 0;
  margin-bottom: 100px;
  max-width: 667px;
  text-align: center;
  color: #fff; }

.intro__nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1012px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f24841; }

.intro__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.intro__btn {
  width: 180px;
  padding: 7px 0;
  margin-right: 72px;
  font-size: 14px;
  color: #fff;
  border-width: 2px;
  border-style: solid; }
  .intro__btn:last-child {
    margin-right: 0; }

.intro__btn--transparent {
  background-color: transparent;
  border-color: #fff; }

.intro__btn--green {
  background-color: #7fb92f;
  border-color: #7fb92f; }

.intro__nav a {
  margin-left: 3%;
  margin-right: 3%;
  font-size: 16px;
  font-weight: 300;
  text-decoration: underline;
  color: #fff; }

@media (max-width: 900px) {
  .intro__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .intro__btn {
    margin-right: 0;
    margin-bottom: 20px; }
  .intro__title {
    margin-bottom: 50px; } }

@media (max-width: 320px) {
  .intro__logo {
    margin-bottom: 60px;
    margin-top: 50px; } }

.branding--empty {
  background-color: #ae322c; }

/* ---- PROMO-SLIDER ---- */
.promo-slider__timecount {
  width: 47px;
  height: 377px;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  background-color: #ffc000; }

.promo-slider {
  position: relative;
  z-index: 2;
  margin-top: 122px;
  margin-bottom: 20px; }

.promo-slider__slider {
  width: 923px;
  height: 503px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.promo-slider__item {
  height: 100%; }

.promo-slider__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.promo-slider__content {
  height: 503px;
  width: 100%;
  max-width: 980px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.promo-slider__indicators {
  bottom: -45px; }

.promo-banner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 503px;
  padding-top: 126px;
  background-color: transparent; }

.promo-banner__text {
  padding-top: 66px;
  padding-left: 53px;
  padding-bottom: 50px;
  padding-right: 50px;
  background-color: #ffde00;
  z-index: 2; }

.promo-banner__title {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -1.25px;
  color: #000; }

.promo-banner__descr {
  margin-bottom: 19px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000; }

.promo-banner__special {
  max-width: 469px;
  width: 100%;
  padding-top: 90px;
  padding-left: 169px;
  padding-right: 60px;
  background: url(../img/main/promo-slider/promo-city.jpg);
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-background-size: cover;
          background-size: cover; }

.promo-banner__special-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffde00; }

.promo-banner__special-description {
  margin-bottom: 37px;
  line-height: 26px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.6px;
  color: #ffffff; }

.promo-banner__more {
  margin-bottom: 50px;
  background-color: #d24a43;
  color: #fff;
  border: none;
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.promo-banner__more:hover {
  background-color: #f24841; }

.promo-banner__man {
  position: absolute;
  top: 0;
  z-index: 2; }

/* ---- TABS ---- */
.nav-tabs {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 16px;
  border: none; }

.nav > li {
  width: 100%;
  max-width: 153px;
  text-align: center; }

.nav > li > a {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  border: none; }

.nav-tabs > li > a {
  line-height: 1.42857143;
  color: #999999;
  letter-spacing: normal;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 3px solid rgba(210, 74, 67, 0.2); }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #000000;
  cursor: default;
  border-bottom: 3px solid red;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background: none; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-top: none;
  border-left: none;
  border-right: none; }

/* ---- FLAT ---- */
.content {
  position: relative;
  z-index: 2;
  margin-bottom: 20px; }

.content--inner {
  margin-bottom: 15px;
  background-color: #ffffff; }

.flat__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.flat__item {
  margin-bottom: 20px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  color: #000;
  border: 1px solid #ddd; }

.flat__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px; }
  .flat__header h3 {
    max-width: 80px; }

.flat__title {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -110px; }
  .flat__title h4 {
    line-height: 21px;
    font-size: 16px;
    font-weight: 700; }
  .flat__title p {
    font-size: 12px;
    color: #8b8b8b;
    text-decoration: underline; }

.flat__types {
  padding-left: 15px;
  font-weight: 400; }

.flat__price {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffde00; }
  .flat__price p {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    color: #000; }

.flat__location {
  padding-right: 15px;
  color: #8b8b8b; }

.flat__date {
  padding-right: 15px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700; }

.flat__hit {
  position: relative;
  top: -110px;
  left: 220px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 57px;
  height: 57px;
  padding: 5px;
  background-color: #ff5a00;
  -webkit-border-radius: 50px;
          border-radius: 50px; }
  .flat__hit p {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    z-index: 2; }

.flat__hit::before {
  content: "";
  position: absolute;
  height: 69px;
  width: 69px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background-color: rgba(255, 90, 0, 0.5);
  z-index: 1; }

.flat__like {
  position: relative;
  top: -94px;
  left: 230px;
  width: 38px;
  height: 38px;
  background-color: #fff;
  -webkit-border-radius: 38px;
          border-radius: 38px; }

.flat__like:before {
  content: "";
  width: 30px;
  height: 25px;
  display: block;
  background: url("../img/icons/icons-sprite.png");
  background-position: -196px -68px; }

.flats__picture--shadowed {
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); }

.tour__header {
  position: relative; }

.tour__picture--right {
  position: absolute;
  left: 196px;
  top: 27px; }

.tour__title {
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -30px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700; }

.tour__title h4 {
  line-height: 30px;
  color: #000000; }

.tour__title p {
  font-size: 14px;
  font-weight: 400; }

.tour__like {
  position: relative;
  top: -25px;
  left: 20px;
  width: 38px;
  height: 38px;
  background-color: #fff;
  -webkit-border-radius: 38px;
          border-radius: 38px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); }

.tour__like::before {
  content: "";
  position: relative;
  top: 0;
  left: 6px;
  width: 25px;
  height: 25px;
  display: block;
  background: url(../img/icons/icons-sprite.png);
  background-position: -202px -68px; }

.information__content {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px; }

.information__title {
  margin-top: -20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; }

.information__time {
  font-size: 12px;
  color: #8b8b8b; }

.information__owner {
  font-size: 12px;
  color: #ae322c; }

@media (max-width: 1199px) {
  .promo-banner {
    padding-top: 50px;
    padding-left: 60px; } }

@media (max-width: 991px) {
  .promo-slider {
    margin-top: 200px; }
  .promo-slider__content {
    height: 390px; }
  .promo-slider__indicators {
    display: none; }
  .promo-banner {
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: inherit;
    -webkit-justify-content: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .promo-banner__text {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .promo-banner__title {
    font-size: 30px;
    line-height: 36px; }
  .promo-banner__descr {
    font-size: 12px;
    line-height: 16px; }
  .promo-banner__pic {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .promo-banner__pic {
    height: 120px;
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .promo-slider {
    margin-top: 58px; }
  .promo-banner__pic {
    height: 100px;
    margin-bottom: 20px; }
  .promo-banner__descr {
    margin-bottom: 20px; }
  .flat__item {
    margin-right: 0; } }

/* -----HEADER----- */
.header__wrap {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  background-color: #fff; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 47px;
  margin: 0 auto; }

.header__logo-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__logo-wrap span {
    text-decoration: underline;
    color: #b1b1b1; }

.header__logo {
  width: 117px;
  height: 47px;
  margin-right: 12px;
  margin-left: 30px; }
  .header__logo img {
    width: 100%;
    height: auto; }

.header__login-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.header__login-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 47px;
  height: 47px;
  background-color: #7fb92f; }

.header__login-link::before {
  content: "";
  position: relative;
  top: 8px;
  left: 12px;
  display: block;
  width: 20px;
  height: 26px;
  background-image: url("../img/icons/icons-sprite.png");
  background-position: -178px -68px; }

@media (min-width: 1200px) {
  .header {
    max-width: 1824px; }
  .header__nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__nav-link {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #000; }
  .header__login-block {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .header__login-link,
  .header__login {
    display: block; }
  .header__login {
    margin-left: 7%; }
  .header__login-link {
    font-size: 16px;
    line-height: 24px;
    color: #787878;
    text-decoration: underline; } }

/* -----FOOTER----- */
.footer {
  padding-top: 80px; }

.footer__wrap {
  position: relative;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8); }

.footer__body {
  width: 100%;
  margin-bottom: 46px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer__nav {
  width: 30%; }

.footer__nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px; }

.footer__nav-link {
  color: #fff;
  font-size: 14px;
  height: 24px; }

.footer__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px; }

.footer__login-block {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.footer__login {
  margin-left: 40px; }

.footer__login-link {
  font-size: 16px;
  line-height: 24px;
  color: #787878;
  text-decoration: underline; }

.footer__copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__age-limit {
  margin-left: 60px;
  font-size: 36px;
  line-height: 62px;
  font-weight: 300; }

.footer__logo {
  width: 65px;
  height: 30px;
  margin-left: 170px; }
  .footer__logo img {
    width: 100%;
    height: auto; }

.footer__social-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__social-item {
  margin-left: 3px; }

.footer__social-link {
  width: 30px;
  height: 30px;
  display: block;
  font-size: 0;
  color: #fff;
  background-image: url("../img/icons/icons-sprite.png");
  background-repeat: no-repeat; }

.footer__social-link--inst {
  background-position: -52px -66px; }

.footer__social-link--fb {
  background-position: -84px -66px; }

.footer__social-link--utube {
  background-position: -116px -66px; }

.footer__social-link--vk {
  background-position: -148px -66px; }

.footer__info {
  margin-bottom: 80px;
  font-size: 10.5px;
  line-height: 16px; }
