/* -----COLORS----- */
/* -----ICONS----- */
.hidden {
  display: none; }

.branding {
  position: fixed;
  height: 100%;
  top: 0;
  z-index: 1; }

/* -----BUTTONS----- */
.button {
  text-align: center;
  line-height: 24px;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  cursor: pointer; }
  .button:hover {
    color: #fff; }
  .button:active {
    color: #fff; }

.large-btn {
  min-width: 276px;
  padding: 16px 0;
  font-size: 20px; }

.medium-btn {
  min-width: 216px;
  padding: 11px 0;
  font-size: 16px; }

.small-btn {
  min-width: 136px;
  padding: 6px 0;
  font-size: 14px; }

.gray-btn {
  color: #3b3b3b;
  border-color: #3b3b3b; }
  .gray-btn:hover {
    background-color: #3b3b3b; }
  .gray-btn:active {
    border-color: #1e1e1e;
    background-color: #1e1e1e; }

.green-btn {
  color: #7fb92f;
  border-color: #7fb92f; }
  .green-btn:hover {
    border-color: #c3dba2;
    background-color: #c3dba2; }
  .green-btn:active {
    border-color: #7fb92f;
    background-color: #7fb92f; }

/* -----FORM-ELEMENTS----- */
.primary-input {
  padding: 10px 12px;
  font-size: 16px;
  line-height: 20px;
  color: #666666;
  border: 1px solid #d6d6d6; }
  .primary-input:focus {
    -webkit-box-shadow: inset 0 1px 0 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 0 2px rgba(0, 0, 0, 0.05); }

.search-field {
  padding-left: 51px;
  background-image: url("../img/icons/search-icon.png");
  background-repeat: no-repeat;
  -webkit-background-size: 26px 15px;
          background-size: 26px 15px;
  background-position: 13px 12px; }

.green-input {
  border-color: #a4bb54;
  background-color: #f6f8ee; }

.red-input {
  border-color: #bb5465;
  background-color: #f8eeef; }

.select {
  background-image: url("../img/icons/select-arrows.png");
  background-repeat: no-repeat;
  background-position: top 14px right 16px; }

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 22px;
  color: #666666; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

li {
  padding: 0;
  margin: 0; }

p {
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #444444;
  font-weight: 400; }

h1 {
  font-size: 48px;
  line-height: 50px; }

h2 {
  font-size: 32px;
  line-height: 50px; }

h3 {
  font-size: 26px;
  line-height: 46px; }

h4 {
  font-size: 20px;
  line-height: 40px; }

h5 {
  font-size: 18px;
  line-height: 34px; }

h6 {
  font-size: 16px;
  line-height: 30px; }

a {
  color: #1e1e1e;
  text-decoration: none; }
  a:hover {
    color: #666666; }
  a:active {
    color: #f24841; }

button {
  background: none;
  cursor: pointer; }

input,
textarea,
select,
button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none; }
  input:focus,
  textarea:focus,
  select:focus,
  button:focus {
    outline: none; }

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

/*----BOOTSTRAP-STYLES----*/
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-left: 0;
  padding-right: 0; }

/* ---- INTRO ----  */
.intro {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/intro/intro-bg.jpg");
  -webkit-box-shadow: inset 0 1000px 1000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1000px 1000px rgba(0, 0, 0, 0.5); }

.intro__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 95px;
  margin-bottom: 106px;
  font-size: 20px;
  color: #fff; }
  .intro__logo img {
    margin-right: 20px; }

.intro__title {
  margin: 0;
  margin-bottom: 100px;
  max-width: 667px;
  text-align: center;
  color: #fff; }

.intro__nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1012px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f24841; }

.intro__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.intro__btn {
  width: 180px;
  padding: 7px 0;
  margin-right: 72px;
  font-size: 14px;
  color: #fff;
  border-width: 2px;
  border-style: solid; }
  .intro__btn:last-child {
    margin-right: 0; }

.intro__btn--transparent {
  background-color: transparent;
  border-color: #fff; }

.intro__btn--green {
  background-color: #7fb92f;
  border-color: #7fb92f; }

.intro__nav a {
  margin-left: 3%;
  margin-right: 3%;
  font-size: 16px;
  font-weight: 300;
  text-decoration: underline;
  color: #fff; }

.branding {
  background-color: #383838; }

/* ---- PROMO-SLIDER ---- */
.promo-slider {
  position: relative;
  z-index: 2;
  margin-top: 300px;
  margin-bottom: 20px; }

.promo-slider__content {
  height: 500px;
  background-color: #ffe000; }

.promo-slider__indicators {
  bottom: -45px; }

.promo-banner {
  padding-top: 98px;
  padding-left: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.promo-banner__title {
  margin-bottom: 20px;
  font-size: 58px;
  line-height: 70px; }

.promo-banner__descr {
  margin-bottom: 32px;
  font-size: 21px;
  line-height: 24px; }

/* ---- TABS ---- */
.nav-tabs {
  border: none; }

.nav > li > a {
  padding: 10px 20px; }

.nav-tabs > li > a {
  line-height: 1.42857143;
  text-transform: uppercase;
  color: #999999;
  letter-spacing: normal;
  border-bottom: 3px solid transparent; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #000000;
  cursor: default;
  text-transform: uppercase;
  border-bottom: 3px solid red;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background: none; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-top: none;
  border-left: none;
  border-right: none; }

/* ---- FLAT ---- */
.flat-content {
  position: relative;
  z-index: 2;
  margin-bottom: 20px; }

.flat {
  padding: 25px;
  background-color: #ffffff; }

.flat .col-md-4 {
  padding-left: 0; }

.flat__item {
  margin-bottom: 20px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  color: #000;
  border: 1px solid #ddd; }

.flat__item--new-building,
.flat__item--virtual-tour {
  padding-right: 0;
  padding-left: 0; }

.flat__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .flat__header h3 {
    max-width: 80px; }

.flat__header--new-building,
.flat__header--virtual-tour {
  position: relative;
  width: 250px;
  height: 152px;
  margin: 0 auto;
  margin-bottom: 16px; }
  .flat__header--new-building span,
  .flat__header--virtual-tour span {
    position: absolute;
    bottom: -12px;
    left: 26px;
    font-size: 78px;
    line-height: 78px;
    color: #fff;
    font-weight: bold; }

.flat__description--new-buildings,
.flat__price--new-building,
.flat__title--new-buildings,
.flat__description--virtual-tour,
.flat__price--virtual-tour,
.flat__title--virtual-tour,
.flat__date {
  padding-left: 15px;
  padding-right: 15px; }

.flat__header--new-building figure {
  position: absolute;
  top: 26px;
  right: 18px; }

.flat__header-image {
  max-width: 250px;
  width: 100%;
  height: auto; }

.flat__title h4 {
  line-height: 21px; }

.flat__title p {
  font-size: 12.5px;
  color: #7fb92f; }

.flat__title--new-buildings {
  margin-bottom: 10px; }

.flat__price {
  margin-bottom: 10px;
  font-size: 21px; }
  .flat__price p::before {
    content: url(../img/main/tag.png);
    position: relative;
    top: 6px;
    margin-right: 10px;
    width: 40px;
    height: 30px; }

.flat__price--new-building {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .flat__price--new-building p::before {
    content: ""; }

.flat__price-tag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 28px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  background-image: url(../img/main/tag.png);
  background-repeat: no-repeat; }
  .flat__price-tag sup {
    font-size: 10px; }

.flat__description {
  margin-bottom: 20px; }

.flat__description-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.flat__description-icon {
  width: 15px; }
  .flat__description-icon img {
    margin-top: -2px; }

.flat__date {
  margin-bottom: 16px;
  display: inline-block;
  font-size: 21px;
  line-height: 30px; }

.flat__button {
  min-width: 100%; }

.flat__button--new-buildings,
.flat__button--virtual-tour {
  min-width: -webkit-calc(100% - 30px);
  min-width: calc(100% - 30px);
  margin-left: 15px; }

@media (max-width: 1199px) {
  .promo-banner {
    padding-top: 50px;
    padding-left: 60px; } }

@media (max-width: 991px) {
  .promo-slider {
    margin-top: 200px; }
  .promo-slider__content {
    height: 390px; }
  .promo-slider__indicators {
    display: none; }
  .promo-banner {
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: inherit;
    -webkit-justify-content: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .promo-banner__text {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .promo-banner__title {
    font-size: 30px;
    line-height: 36px; }
  .promo-banner__descr {
    font-size: 12px;
    line-height: 16px; }
  .promo-banner__pic {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .promo-banner__pic {
    height: 120px;
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .promo-slider {
    margin-top: 58px; }
  .promo-banner__pic {
    height: 100px;
    margin-bottom: 20px; }
  .promo-banner__descr {
    margin-bottom: 20px; }
  .flat__item {
    margin-right: 0; } }

/* -----HEADER----- */
.header__wrap {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #fff; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 16px;
  width: -webkit-calc(100% - 32px);
  width: calc(100% - 32px);
  margin: 0 auto; }

.header__menu-toggle {
  width: 22px;
  height: 16px; }

.header__humburger {
  width: 22px;
  height: 3px;
  background-color: #000;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  -webkit-box-shadow: 0 -7px 0 0 #000, 0 7px 0 0 #000;
          box-shadow: 0 -7px 0 0 #000, 0 7px 0 0 #000; }

.header__nav-list {
  display: none; }

.header__logo-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header__logo {
  width: 95px;
  height: 38px;
  margin-right: 12px; }
  .header__logo img {
    width: 100%;
    height: auto; }

.header__login-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.header__login-link,
.header__login {
  display: none; }

@media (min-width: 1600px) {
  .header {
    max-width: 1824px; }
  .header__menu-toggle {
    display: none; }
  .header__nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 55%; }
  .header__nav-item {
    margin-right: 4%; }
  .header__nav-link {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #000; }
  .header__logo {
    width: 176px;
    height: 70px;
    margin-right: 16px; }
  .header__login-block {
    width: 25%;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .header__login-link,
  .header__login {
    display: block; }
  .header__login {
    margin-left: 7%; }
  .header__login-link {
    font-size: 16px;
    line-height: 24px;
    color: #787878;
    text-decoration: underline; }
  .fast_link {
    display: none !important; } }

/* -----FOOTER----- */
.footer__wrap {
  position: relative;
  z-index: 2;
  background-color: #3b3b3b; }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 82px 16px;
  max-width: 1066px;
  margin: 0 auto;
  color: #fff; }

.footer__body {
  width: 100%;
  margin-bottom: 46px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer__nav {
  width: 30%; }

.footer__nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.footer__nav-link {
  color: #fff;
  font-size: 16px;
  height: 24px; }

.footer__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.footer__login-block {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.footer__login {
  margin-left: 40px; }

.footer__login-link {
  font-size: 16px;
  line-height: 24px;
  color: #787878;
  text-decoration: underline; }

.footer__copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__age-limit {
  margin-left: 60px;
  font-size: 56px;
  line-height: 62px;
  font-weight: 300; }

.footer__logo {
  width: 150px;
  height: 62px;
  margin-left: 70px; }
  .footer__logo img {
    width: 100%;
    height: auto; }

.footer__social-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__social-item {
  margin-left: 3px; }

.footer__social-link {
  width: 30px;
  height: 30px;
  display: block;
  font-size: 0;
  color: #fff;
  background-image: url("../img/icons/icons-sprite.png");
  background-repeat: no-repeat; }

.footer__social-link--inst {
  background-position: -52px -66px; }

.footer__social-link--fb {
  background-position: -84px -66px; }

.footer__social-link--utube {
  background-position: -116px -66px; }

.footer__social-link--vk {
  background-position: -148px -66px; }

.footer__info {
  font-size: 12px;
  line-height: 16px; }

@media (max-width: 767px) {
  .footer__right {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__login-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 36px; }
  .footer__login {
    margin-left: 0; }
  .footer__login-link {
    margin-bottom: 10px; }
  .footer__copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer__logo {
    margin-left: 0; }
  .footer__age-limit {
    margin-left: 0; }
  .footer__social-list {
    margin-bottom: 16px; }
  .footer__logo {
    margin-bottom: 8px; } }

@media (max-width: 477px) {
  .footer {
    padding-top: 36px;
    padding-bottom: 36px; }
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__nav,
  .footer__right {
    width: 100%; }
  .footer__nav {
    margin-bottom: 26px;
    text-align: center; }
  .footer__nav-item {
    margin-bottom: 6px; } }
