.news__wrap
  display: flex
  justify-content: space-between

.news__preview
  padding-left: 70px
  padding-top: 70px
  padding-right: 30px

  display: flex
  flex-direction: column
  max-width: 50%

.news__preview-pagetitle
  font-size: 18px
  font-weight: 700

  color: #000000

.news__preview-title
  margin-bottom: 40px
  font-size: 30px
  font-weight: 400
  line-height: normal
  color: #000000

.news__preview-tags
  margin-bottom: 50px
  & span
    font-size: 16px
    font-weight: 700
    color: #848484

  & .tags__wrap
    display: flex
  & p
    margin-right: 10px
    font-size: 14px
    font-weight: 400
    text-decoration: underline
    color: #010101

.news__picture
  max-width: 50%

  & img
    width: 100%
    height: 100%

.news__text
  padding: 40px 30px 40px 30px
  min-height: 500px
  background-color: white


  & p
    font-size: 18px
    font-weight: 400
    color: #000000