// calculation

// костыль, везде нужно заменить на единый класс для timecount
.promo-slider__timecount--notmain
  width: 47px
  background-color: #ffc000

.calcultation__form
  margin-bottom: 11px
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  max-width: 470px

.calculation__form-wrap
  display: flex

.calcultation__form label
  margin-bottom: 17px
  margin-right: 29px

  display: flex
  flex-direction: column

.label__margin--small
  margin-right: 10px !important

.label--short
  max-width: 82px

.calcultation__form .form-label
  margin-bottom: 7px

  font-size: 12px
  font-weight: 400
  line-height: 10px
  color: #000000

.calcultation__form input
  padding-top: 4px
  padding-bottom: 4px
  padding-left: 10px
  padding-right: 10px
  max-width: 121px
  display: flex
  justify-content: center

  border: 1px solid #000000
  color: #000000

.calcultation__form input:nth-child(3)
  max-width: 30px

.calculation__result
  font-size: 30px
  font-weight: 400

  color: #000000

.calculation__result .calculation__payment
  font-weight: 700
  letter-spacing: -0.75px

.calculation__commentary
  margin-top: 15px
  margin-bottom: 26px
  max-width: 345px

  font-size: 12px
  font-weight: 400
  letter-spacing: -0.3px
  line-height: normal
  opacity: 0.66
  color: #000000

.calculation__form-show
  align-self: flex-end
  height: 50px
  margin-bottom: 46px
  margin-left: 46px

  background-color: #ffc000
  border: none
  border-radius: 3px

  z-index: 2
  color: #030303

.calculation__form-show span
  font-weight: 700



::-webkit-input-placeholder
  color: #000000
  text-align: center

::-moz-placeholder
  color: #000000
  text-align: center

@media (max-width: 991px)
  .calculation__form-show
    align-self: flex-start