// new-flats-search

.section__preview-title--search
  margin-bottom: 13px
  line-height: normal

.new-building__search-header
  margin-bottom: 27px
  display: flex
  justify-content: space-between

  & .search__title
    font-size: 50px
    font-weight: 400

    letter-spacing: -1.25px
    color: #ffffff

  & .search__input
    padding: 15px 25px
    min-width: 241px

    color: white
    background-color: rgba(0,0,0,0.4)

  & .search__showmap
    padding: 12px 33px

    font-size: 16px
    color: #ffffff
    background-color: #ff5a00



.search__input::-webkit-input-placeholder
  color: white
  text-decoration: underline
.search__input::-moz-placeholder
  color: white
  text-decoration: underline
.search__input:-moz-placeholder
  color: white
  text-decoration: underline
.search__input:-ms-input-placeholder
  color: white
  text-decoration: underline

.new-building__search-form
  display: flex
  justify-content: space-between
  align-items: flex-start

.new-building__search-form
  & form
    display: flex
    flex-wrap: wrap
    max-width: 500px

  & label
    display: flex
    flex-direction: column
    margin-right: 13px

.form-label
  font-size: 16px
  font-weight: 400

  color: #ffffff

.bs-caret
    display: none

.form-control
  padding-top: 20px
  padding-bottom: 20px
  border-radius: 5px 0 0 5px
  border: 1px solid #b5b5b5

.search--price
  margin-right: 15px
  max-width: 303px

.search--price input::-webkit-input-placeholder
  color: black
  font-weight: 400

.search--price input::-moz-placeholder
  color: black
  font-weight: 400
.search--price input:-moz-placeholder
  color: black
  font-weight: 400
.search--price input:-ms-input-placeholder
  color: black
  font-weight: 400

.form--price
  max-width: 140px

.form--price:first-child
  margin-right: 5px

.form--select
  margin-bottom: 15px

.form--select .btn
  padding-top: 10px
  padding-bottom: 10px
  border-radius: 5px
  border: 1px solid #b5b5b5

.form--select span
  text-align: center


.form--price:first-child
  border-bottom-right-radius: 0
  border-top-right-radius: 0

.form--price:nth-child(2)
  border-bottom-left-radius: 0
  border-top-left-radius: 0
  border-bottom-right-radius: 5px
  border-top-right-radius: 5px

.form--plans
  display: flex
  flex-direction: column
  margin-right: 13px
  margin-left: 1px

  & .btn
    padding-top: 10px
    padding-bottom: 10px
    padding-left: 15px
    padding-right: 15px
    border-radius: 5px
    font-weight: 400
    border: 1px solid #b5b5b5


.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option
  color: black
.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group
  margin-left: 0

.btn-default
  font-weight: 700

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default
  background-color: #ffc000

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus
  background-color: #ffc000

.bootstrap-select.btn-group .dropdown-toggle .filter-option
  text-align: center

.bootstrap-select.btn-group .dropdown-toggle .filter-option
  font-weight: 400

.bootstrap-select > .dropdown-toggle
  padding-right: 12px
.new-building__map
  position: absolute
  z-index: -1
  width: 100%
  height: 100%


