// new-flats-search

.intro-block__content--search
  position: relative
.new-building__search
  padding: 69px 72px
  width: 100%

  background-color: rgba(0,0,0,0.8)

.new-building__search-header
  margin-bottom: 27px
  display: flex
  justify-content: space-between

  & .search__title
    font-size: 50px
    font-weight: 400

    letter-spacing: -1.25px
    color: #ffffff

  & .search__input
    padding: 15px 25px
    min-width: 241px

    color: white
    background-color: rgba(0,0,0,0.4)

  & .search__showmap
    padding: 12px 33px

    font-size: 16px
    color: #ffffff
    background-color: #ff5a00



.search__input::-webkit-input-placeholder
  color: white
  text-decoration: underline
.search__input::-moz-placeholder
  color: white
  text-decoration: underline
.search__input:-moz-placeholder
  color: white
  text-decoration: underline
.search__input:-ms-input-placeholder
  color: white
  text-decoration: underline

.new-building__search-form
  display: flex
  justify-content: space-between
  align-items: flex-end

.new-building__search-form
  & form
    display: flex
    flex-wrap: wrap
    max-width: 500px

  & label
    display: flex
    flex-direction: column
    margin-right: 13px

.form-label
  font-size: 16px
  font-weight: 400

  color: #ffffff

.bs-caret
    display: none

.search--price
  margin-right: 15px
  margin-bottom: 26px
  max-width: 303px

.search--price input::-webkit-input-placeholder
  color: black
  font-weight: 700

.search--price input::-moz-placeholder
  color: black
  font-weight: 700
.search--price input:-moz-placeholder
  color: black
  font-weight: 700
.search--price input:-ms-input-placeholder
  color: black
  font-weight: 700

.form--price
  max-width: 140px

.form--plans
  display: flex
  flex-direction: column
  margin-right: 13px

.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option
  color: black
.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group
  margin-left: 0

.btn-default
  font-weight: 700

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default
  background-color: #ffc000

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus
  background-color: #ffc000


.new-building__map
  position: absolute
  z-index: -1
  width: 100%
  height: 100%


