// new-building
.new-building__preview
  display: flex
  flex-direction: column
  background-color: transparent

.new-building__preview-header
  padding: 20px 40px
  margin-bottom: 10px
  display: flex
  justify-content: space-between
  align-items: center

  background-color: white

.preview-header__title

  display: flex
  flex-direction: column

  font-size: 18px
  font-weight: 400
  line-height: normal
  color: #565656

.preview-header__title span
  font-size: 30px
  color: #000000

.preview-header__wrap
  display: flex
  align-items: center

.preview-header__logo
  margin-right: 20px
.preview-header__buildier-name p
  font-size: 14px
  font-weight: 400

  color: #a0a0a0

.preview-header__buildier-name span
  font-size: 16px
  text-decoration: underline

  color: #000000

.preview-header__contacts
  padding: 20px 30px
  background-color: #ffc000
  cursor: pointer

  & p
    font-size: 20px
    font-weight: 400
    text-align: center

    color: #030303

.new-building__preview-wrap
  display: flex

.new-building__preview-picture
  max-width: 665px
  margin-right: 30px