// new building properties

.new-building__properties
  padding-left: 30px
  padding-right: 30px
  padding-top: 15px
  padding-bottom: 15px
  margin-bottom: 15px

  background: white

.properties__header
  margin-bottom: 10px
  border-bottom: 3px solid #eeeeee

.properties__header-adress
  margin-bottom: 6px
  font-size: 18px
  font-weight: 400
  color: #000000

.properties__header-metro
  margin-bottom: 6px
  font-size: 16px
  font-weight: 400
  color: #ae322c

.properties__price
  margin-bottom: 20px
  font-size: 24px
  font-weight: 400
  color: #000
  & span
    font-weight: 700

.properties__wrap
  display: flex


.properties__wrap-column
  display: flex
  flex-direction: column
  justify-content: center

.properties__wrap-column:first-child
  margin-right: 25%
.properties__sell
  display: flex
  align-items: center
  margin-bottom: 15px

  & p
    margin-right: 5px
    font-size: 16px
    color: #000000

  & span
    color: #6e6e6e


.properties__sell-icon
  margin-right: 15px
  display: block
  width: 35px
  height: 35px

  background-image: url('../img/icons/icons-sprite.png')

.properties__sell-icon--material
  background-position: 300px -160px
.properties__sell-icon--buy
  background-position: 43px -63px
.properties__sell-icon--payment
  background-position: 45px -64px

.properties__sell-icon--lift
  background-position: 248px -147px
.properties__sell-icon--parking
  background-position: -52px -105px