// new-building
.new-building__preview
  z-index: 2
  width: 100%
  max-width: 1200px
  margin-top: 250px
  margin-bottom: 20px
  display: flex
  flex-direction: column

  background-color: #ffffff



.new-building__preview-header
  width: 100%
  padding: 20px 40px
  margin-bottom: 10px
  display: flex
  justify-content: space-between
  align-items: center

  background-color: white

.preview-header__wrap-column
  display: flex
  flex-direction: column
.preview-header__type
  margin-right: 20px
  font-size: 18px
  font-weight: 700
  color: #939393

.preview-header__name
  font-size: 50px
  font-weight: 400
  color: #000000
  line-height: 60px

.preview-header__wrap
  display: flex
  align-items: center

.preview-header__adress
  font-size: 14px
  font-weight: 400
  color: #000000
  letter-spacing: 0.7px

.preview-header__logo
  margin-right: 20px

.preview-header__buildier-name p
  margin-right: 20px
  text-align: right
  font-size: 14px
  font-weight: 400

  color: #a0a0a0

.preview-header__buildier-name span
  margin-right: 20px
  font-size: 16px
  font-weight: 700

.new-building__preview-wrap
  display: flex

.new-building__preview-picture
  max-width: 665px
  margin-right: 30px

.new-building__preview-content
  display: flex
  
.new-building__vtour-link
  width: 100%
  padding-top: 60px
  padding-left: 35px
  padding-right: 35px
  background-image: url("../img/new-building/tour-preview.png")
  background-repeat: no-repeat
  background-size: cover

  & p
    font-size: 30px
    margin-bottom: 50px
    font-weight: 400
    line-height: 35px
    color: #ffffff

  & span
    margin-bottom: 50px
    font-size: 72px
    font-weight: 700
    color: $tours-yellow

  & button
    margin-top: 70px