/* -----FOOTER----- */

.footer__wrap
  position: relative
  z-index: 2
  
  background-color: $gray

.footer
  display: flex
  flex-direction: column
  padding: 82px 16px
  max-width: 1066px
  margin: 0 auto

  color: #fff

.footer__body
  width: 100%
  margin-bottom: 46px
  display: flex
  justify-content: space-between

.footer__nav
  width: 30%

.footer__nav-list
  display: flex
  flex-direction: column

.footer__nav-link
  color: #fff
  font-size: 16px
  height: 24px

.footer__right
  display: flex
  align-items: flex-end
  flex-direction: column

.footer__login-block
  margin-bottom: 48px
  display: flex
  align-items: center
  justify-content: flex-end

.footer__login
  margin-left: 40px

.footer__login-link
  font-size: 16px
  line-height: 24px
  color: #787878
  text-decoration: underline

.footer__copyright
  display: flex
  justify-content: flex-end
  align-items: center

.footer__age-limit
  margin-left: 60px

  font-size: 56px
  line-height: 62px
  font-weight: 300

.footer__logo
  width: 150px
  height: 62px
  margin-left: 70px

  & img
    width: 100%
    height: auto

.footer__social-list
  display: flex
  align-items: center

.footer__social-item
  margin-left: 3px

.footer__social-link
  width: 30px
  height: 30px
  display: block

  font-size: 0
  color: #fff

  background-image: url("../img/icons/icons-sprite.png")
  background-repeat: no-repeat

.footer__social-link--inst
  background-position: $inst

.footer__social-link--fb
  background-position: $facebook

.footer__social-link--utube
  background-position: $youtube

.footer__social-link--vk
  background-position: $vk

.footer__info
  font-size: 12px
  line-height: 16px

@media (max-width: 767px)
  .footer__right
    align-items: center

  .footer__login-block
    flex-direction: column
    margin-bottom: 36px

  .footer__login
    margin-left: 0

  .footer__login-link
    margin-bottom: 10px

  .footer__copyright
    flex-direction: column

  .footer__logo
    margin-left: 0

  .footer__age-limit
    margin-left: 0

  .footer__social-list
    margin-bottom: 16px

  .footer__logo
    margin-bottom: 8px

@media (max-width: 477px)
  .footer
    padding-top: 36px
    padding-bottom: 36px

  .footer__body
    flex-direction: column
    align-items: center

  .footer__nav,
  .footer__right
    width: 100%

  .footer__nav
    margin-bottom: 26px

    text-align: center

  .footer__nav-item
    margin-bottom: 6px