/* -----HEADER----- */

.header__wrap
  position: fixed
  top: 0
  z-index: 3

  width: 100%

  background-color: #fff

.header
  display: flex
  align-items: center
  justify-content: space-between
  height: 47px
  margin: 0 auto

.header__logo-wrap
  display: flex
  align-items: center

  & span
    text-decoration: underline
    color: #b1b1b1

.header__logo
  width: 117px
  height: 47px
  margin-right: 12px
  margin-left: 30px

  & img
    width: 100%
    height: auto


.header__login-block
  display: flex
  align-items: center
  justify-content: center

.header__login-link
  display: flex
  align-items: center
  justify-content: center
  width: 47px
  height: 47px
  background-color: #7fb92f

.header__login-link::before
  content: ""
  position: relative
  top: 8px
  left: 12px
  display: block
  width: 20px
  height: 26px
  background-image: url('../img/icons/icons-sprite.png')
  background-position: -178px -68px

@media (min-width: 1200px) /*desktop-width*/
  .header
    max-width: 1824px

  .header__nav-list
    display: flex
    order: 2
    align-items: center
    justify-content: space-between


  .header__nav-item


  .header__nav-link
    font-size: 14px
    line-height: 24px
    font-weight: bold
    color: #000

  .header__login-block

    order: 3

  .header__login-link,
  .header__login
    display: block

  .header__login
    margin-left: 7%

  .header__login-link
    font-size: 16px
    line-height: 24px
    color: #787878
    text-decoration: underline
