
.branding
  background-color: #383838


/* ---- PROMO-SLIDER ---- */

.promo-slider
  position: relative
  z-index: 2

  margin-top: 300px
  margin-bottom: 20px

.promo-slider__content
  height: 500px

  background-color: #ffe000

.promo-slider__indicators
  bottom: -45px

.promo-banner
  padding-top: 98px
  padding-left: 120px
  display: flex
  justify-content: center
  align-items: flex-start

.promo-banner__title
  margin-bottom: 20px

  font-size: 58px
  line-height: 70px

.promo-banner__descr
  margin-bottom: 32px

  font-size: 21px
  line-height: 24px

/* ---- TABS ---- */

.nav-tabs
  border: none
.nav > li > a
  padding: 10px 20px

.nav-tabs > li > a
  line-height: 1.42857143
  text-transform: uppercase
  color: #999999
  letter-spacing: normal
  border-bottom: 3px solid transparent

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
  color: #000000
  cursor: default
  text-transform: uppercase
  border-bottom: 3px solid red
  transition: 1s
  background: none

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
  border-top: none
  border-left: none
  border-right: none

/* ---- FLAT ---- */

.flat-content
  position: relative
  z-index: 2

  margin-bottom: 20px

.flat
  padding: 25px
  background-color: #ffffff

.flat .col-md-4
  padding-left: 0

.flat__item
  margin-bottom: 20px
  padding-bottom: 15px
  padding-left: 15px
  padding-right: 15px
  margin-right: 10px

  color: #000
  border: 1px solid #ddd

.flat__item--new-building,
.flat__item--virtual-tour
  padding-right: 0
  padding-left: 0

.flat__header
  display: flex
  align-items: center
  justify-content: space-between

  & h3
    max-width: 80px

.flat__header--new-building,
.flat__header--virtual-tour
  position: relative

  width: 250px
  height: 152px
  margin: 0 auto
  margin-bottom: 16px

  & span
    position: absolute
    bottom: -12px
    left: 26px

    font-size: 78px
    line-height: 78px
    color: #fff
    font-weight: bold

.flat__description--new-buildings,
.flat__price--new-building,
.flat__title--new-buildings,
.flat__description--virtual-tour,
.flat__price--virtual-tour,
.flat__title--virtual-tour,
.flat__date
  padding-left: 15px
  padding-right: 15px

.flat__header--new-building
  & figure
    position: absolute
    top: 26px
    right: 18px

.flat__header-image
  max-width: 250px
  width: 100%
  height: auto

.flat__title
  & h4
    line-height: 21px

  & p
    font-size: 12.5px
    color: $dark-green

.flat__title--new-buildings
  margin-bottom: 10px

//.flat__header img::before                       /*НЕ ПОНЯЛ ЧТО ЭТО ЗА СТИЛИ*/
//  content: url("../img/main/new.png")
//  position: relative
//  left: 89px
//
//  width: 30px
//  height: 30px


.flat__price
  margin-bottom: 10px

  font-size: 21px

  & p::before
    content: url(../img/main/tag.png)

    position: relative
    top: 6px

    margin-right: 10px
    width: 40px
    height: 30px

.flat__price--new-building
  display: flex
  align-items: center

  & p::before
    content: ""

.flat__price-tag
  display: flex
  width: 40px
  height: 28px
  align-items: center
  justify-content: center

  font-size: 16px

  background-image: url(../img/main/tag.png)
  background-repeat: no-repeat

  & sup
    font-size: 10px

.flat__description
  margin-bottom: 20px

.flat__description-item
  display: flex
  align-items: center

.flat__description-icon
  width: 15px

  & img
    margin-top: -2px

.flat__date
  margin-bottom: 16px
  display: inline-block

  font-size: 21px
  line-height: 30px

.flat__button
  min-width: 100%

.flat__button--new-buildings,
.flat__button--virtual-tour
  min-width: calc(100% - 30px) //width - paddings
  margin-left: 15px //padding

@media (max-width: 1199px)
  .promo-banner
    padding-top: 50px
    padding-left: 60px

@media (max-width: 991px)
  .promo-slider
    margin-top: 200px

  .promo-slider__content
    height: 390px

  .promo-slider__indicators
    display: none

  .promo-banner
    padding-top: 40px
    padding-left: 25px
    padding-right: 25px
    flex-direction: column
    justify-content: inherit
    align-items: center

    text-align: center

  .promo-banner__text
    order: 2

  .promo-banner__title
    font-size: 30px
    line-height: 36px

  .promo-banner__descr
    font-size: 12px
    line-height: 16px

  .promo-banner__pic
    order: 1

  .promo-banner__pic
    height: 120px
    margin-bottom: 30px


@media (max-width: 767px)
  .promo-slider
    margin-top: 58px

  .promo-banner__pic
    height: 100px
    margin-bottom: 20px

  .promo-banner__descr
    margin-bottom: 20px

  .flat__item
    margin-right: 0
