.flat__wrap
  display: flex
  justify-content: space-between
  align-items: center
  align-self: flex-end

.flat__item
  margin-bottom: 20px
  padding-bottom: 15px
  padding-left: 15px
  padding-right: 15px
  margin-right: 10px

  color: #000
  border: 1px solid #ddd

.flat__header
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 10px
  overflow: hidden

  & h3
    max-width: 80px

.flat__title
  display: flex
  justify-content: space-between
  margin-bottom: 15px

  & h4
    line-height: 21px
    font-size: 14px
    font-weight: 500
    color: $black-text

  & h3
    line-height: 21px
    font-size: 17px
    font-weight: 700
    color: $black-text

  & p
    font-size: 12px
    color: $gray-text
    text-decoration: underline

.flat__types
  padding-left: 15px

  font-weight: 400

.flat__price
  position: relative
  font-size: 18px
  font-weight: 700
  line-height: normal
  color: $button-green

.flat__price--sale
  color: $primary-red

.flat__price--sale:hover .flat__price-sale-tooltip
  display: block

.flat__price-sale-tooltip
  position: absolute
  display: none
  width: 200px
  padding: 5px
  color: $button-green
  background-color: white
  border: 1px solid black

.flat__location
  display: flex

  color: $gray-text

.flat__location-icon

  width: 19px
  height: 19px
  fill: #d9d9d9


.flat__date
  padding-right: 15px

  font-size: 14px
  line-height: 30px
  font-weight: 700

.flat__hit
  position: absolute
  top: 30px
  left: 200px

  display: flex
  align-items: center
  justify-content: center
  width: 57px
  height: 57px
  padding: 5px



  border-radius: 50px


  & p
    color: #fff

    font-size: 18px
    font-weight: 700

    z-index: 2

.flat__hit--percent
  background-color: #ffe440

.flat__hit-icon--red
  width: 25px
  height: 25px
  fill: $primary-red

.flat__hit--hit
  background-color: $primary-red

.flat-hit__circle
  content: ""
  position: absolute

  height: 69px
  width: 69px
  background-color: #ffe440
  border-radius: 50px
  opacity: 0.37
  z-index: 1

.flat__properties-icon
  margin-right: 5px
  width: 15px
  height: 15px

.flat__properties-icon--red
  fill: $primary-red

.flat__square
  color: $black-text
  font-size: 16px
  font-weight: 700

.section--flats-wrap

  z-index: -1
  position: absolute
  top: 0
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  background: white

  border: 1px solid black


