.your-projects
  padding: 33px 25px 35px

  background-color: #fff

.your-projects__characteristic-list
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.your-projects__characteristic-item
  display: flex
  width: 186px

.your-projects__characteristic-item--descr
  width: 100%

.your-projects__characteristic-wrap
  display: flex
  flex-direction: column

  color: #000000

.your-projects__characteristic-key
  font-size: 12px

.your-projects__characteristic-value
  font-size: 16px
  font-weight: bold
