.nav-tabs
  padding-left: 25px
  padding-right: 25px
  padding-top: 16px

  border: none
  background-color: $primary-red

.nav > li
  width: 100%
  max-width: 153px


  text-align: center
.nav > li > a
  padding-left: 0
  padding-right: 0
  margin-right: 0

  border: none

.nav-tabs > li > a
  line-height: 1.42857143

  color: white
  letter-spacing: normal
  font-size: 16px
  font-weight: 400
  border-bottom: 3px solid rgba(210,74,67,0.2)

.nav > li > a:hover, .nav > li > a:focus
  color: black

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
  color: white
  cursor: default

  border-bottom: 2px solid white
  transition: 1s
  background: none
  font-weight: 700

.tab-content>.tab-pane
  padding: 25px
  padding-bottom: 10px

  background-color: #eeeeee

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
  border-top: none
  border-left: none
  border-right: none